/* CSS */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Sriracha&display=swap')

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', Helverica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

.container {
  max-width: 600px;
  padding: 100px 15px 60px;
  margin: 0 auto;
}

.quote {
  font-family: "Sriracha", cursive;
  font-style: italic;
}
